rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /visits/{document} {
      allow read, write: if true;
    }
    match /vendors/{document} {
      allow read, write: if true;
    }
  }
}
